
  :root {
    --primary: #ece8ed;
    --dark: #363537;
    --info: #75dbcd;
    --warning: #ff9f1c;
    --error: #ef2d56;
    --success: #5bb18c;
}
  
  .container{
    max-width:1170px;
    margin-left:auto;
    margin-right:auto;
    padding:1em;
  }
  
  ul{
    list-style: none;
    padding:0;
    font-size: 1.7rem;
  }
  
  .brand{
    text-align: center;
  }
  
  .brand span{
    color: var(--ghost-white);
  }
  
  .wrapper{
    box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
  }

  
  .wrapper > *{
    padding: 1em;
  }
  
  .company-info{
    background:var(--mid-blue-green);
  }
  
  .company-info h3, .company-info ul{
    text-align: center;
    margin:0 0 1rem 0;
  }

  .inline {
      display: inline;
  }
  
  .contact {
    background:var(--ghost-white);
  }
  
  /* FORM STYLES */
  .contact form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
  }
  
  .contact form label{
    display:block;
  }
  
  .contact form p{
    margin:0;
  }
  
  .contact form .full{
    grid-column: 1 / 3;
  }
  
  .contact form button, .contact form input, .contact form textarea{
    width:100%;
    padding:1em;
    border:1px solid var(--ghost-white);
    border-radius: 10px;
    font-weight: 700;
  }
  
  .contact form button{
    background:var(--mid-blue-green);
    border:0;
    text-transform: uppercase;
  }
  
  .contact form button:hover,.contact form button:focus{
    background: var(--mid-blue-green);
    color: var(--ghost-white);
    outline:0;
    transition: background-color 2s ease-out;
  }
  
  .alert{
    text-align: center;
    padding:10px;
    background: var(--mid-blue-green);
    color: var(--ghost-white);
    margin-bottom:10px;
    display:none;
  }
  
  /* LARGE SCREENS */
  @media(min-width:700px){
    .wrapper{
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
  
    .wrapper > *{
      padding:2em;
    }
  
    .company-info h3, .company-info ul {
      text-align: left;
    }
  }
  
  

  .navbar-logo > p {
      display: flex;
      min-width: fit-content;
      padding-left: 1rem;
  }
  
  .fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
  }