:root {
    --primary: #ece8ed;
    --dark: #363537;
    --info: #75dbcd;
    --warning: #ff9f1c;
    --error: #ef2d56;
    --success: #5bb18c;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.btns {
    margin-top:32px;
}

@media screen and (max-width: 960px) {
    .hero-container > h1 {
        font-size: 6rem;
    }
}
    

@media screen and (max-width: 768px) {
    .hero-container > h1 {
        font-size: 5rem;
    }
    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }
}
